{% extends 'base.html.twig' %}

{% block title %}Nouveau joueur{% endblock %}

{% block body %}


    {% for message in app.flashes('success')%}
        <div class="alert alert-success mt-4">
            {{message}}
        </div>
    {% endfor %}
    <div class="container">

    <h1 class="mt-4 text-light">Ajout d'un nouveau joueur</h1>
    <div class="text-light" >{{form_start(form)}}</div>
    <div class="text-light mb-3">{{form_row(form.name)}}</div>
    <div class="text-light mb-3">{{form_row(form.role)}}</div>
    <div class="text-light mb-3">{{form_row(form.team)}}</div>
    <div class="text-light">{{form_end(form)}}</div>
</div>
{% endblock %}
