{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}

    {{ include('shared/navbar.html.twig') }}
    
    <div class="container">
        <div class="row">
                {% for team in teams %}
                    <div class="col-lg-3 col-sm-6 col-12 d-flex flex-column mt-5">
                        <a href="{{ path('team_show', { id: team.id }) }}" class="d-flex justify-content-center col-12 mx-auto mt-4">
                        <img src="{{ asset('build/images/' ~ team.logo) }}" class="team-img"/>
                        </a>     
                        <h3 class="team-name text-light d-flex justify-content-center">{{team.name}}</h3>
                        <p class="team-nationality text-light d-flex justify-content-center">{{team.nationality}}</p>
                           
                    </div>                    
                {% else %}
                    Aucunes équipes trouvées
                {% endfor %}
        </div>
    </div>

{% endblock %}
