{% extends 'base.html.twig' %}  

{% block title %}Home{% endblock %}

{% block body %}
    <main>   

        <nav class="navbar">
            <div class="collapse navbar-collapse d-flex justify-content-around mt-3" id="navbarNav">
                <a class="navbar-brand ms-md-5 ms-3" href="{{ path('home') }}">
                <img src="{{ asset('build/images/logo.jpg') }}" class="logo-desktop" />
                </a>            

                <li class="nav-item d-md-inline d-none">
                <a class="nav-link-home text-light fs-4 px-3 py-0 rounded-3" href="{{ path('news') }}">ACTUALITES</a>
                </li>
                
                <li class="nav-item d-md-inline d-none">
                <a class="nav-link-home text-light fs-4 px-3 py-0 rounded-3" href="{{ path('team') }}">EQUIPES</a>
                </li>
            </div>
        </nav>

        <div class="home-cover">
            <img src="{{ asset('build/images/cover.jpg') }}" class="w-100 mt-2"/>
        </div>
        
        <div class="home-nav-mobile d-flex d-md-none flex-column mt-3">
            <li class="nav-item-mobile d-flex d-md-none justify-content-center mx-auto my-3 bg-dark rounded-3 w-75">
            <a class="nav-link-home-mobile text-light fs-2" href="{{ path('news') }}">ACTUALITES</a>
            </li>
            
            <li class="nav-item-mobile d-flex d-md-none justify-content-center mx-auto my-3 bg-dark rounded-3 w-75">
            <a class="nav-link-home-mobile text-light fs-2" href="{{ path('team') }}">EQUIPES</a>
            </li>
        </div>
    </main>
{% endblock %}
